Django==5.0
djangorestframework

psycopg2-binary

redis
celery
django-celery-beat

channels
channels-redis
daphne
python-dotenv

# 🔥 تثبيت نسخة مستقرة
pysnmp==4.4.12
pyasn1==0.4.8

netmiko
paramiko
napalm

ping3
scapy

django-filter
drf-yasg

gunicorn
uvicorn

networkx
graphviz